body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: white;
}

h1,h2,h3,h4{
	font-family: 'Playfair Display', serif;
}

.navbar{
background-image: linear-gradient( 135deg, #92FFC0 0%, #002661 100%);
	box-shadow: 0 0 2px grey;
}

.navbar-brand {
	color: lightcyan;
}

.navbar-logo {
	width: 400px;
}

.center-block {
	margin: 0 auto;
	display: block;
}

.jumbotron{
	padding: 2rem;
}

#search-header{
	margin-bottom: 2rem;
}

.fancy {
  box-shadow: inset -5px -5px 8px palegreen;
}

.map-box{
	height: 400px;
	background-color: black;
	padding: 0px;
}

.word-box{
	height: 350px;
	margin-bottom: 20px;
	border: solid 1px #bbb;
}

.myTagCloud span {
  text-decoration: underline;
}

#area {
}

#price {
}

#area-price {
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.btn-primary {
	margin-bottom: 10px;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}


/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  width: 60px;
  height: 30px;
  transition: 500ms all;
  margin-right: 5px;
}

input[type=radio1] + label>img {
  width: 30px;
  height: 30px;
  transition: 500ms all;
  margin-right: 5px;
}

input[type=radio2] + label>img {
  width: 50px;
  height: 30px;
  transition: 500ms all;
}

.footer {
background-image: linear-gradient( 135deg, #92FFC0 0%, #002661 100%);
}