body{
	font-family: 'Roboto Condensed', sans-serif;
	/*background-color: black;*/
	/*background-image: linear-gradient( 135deg, #5EFCE8 0%, #736EFE 100%);*/
}

h1,h2,h3,h4{
	font-family: 'Playfair Display', serif;
}

.navbar{
	background-image: linear-gradient( 235deg, #90F7EC 0%, #32CCBC 100%);
	box-shadow: 0 0 2px grey;
}

.navbar-brand {
	color: lightcyan;
}

.navbar-logo {
	width: 400px;
}

.center-block {
	margin: 0 auto;
	display: block;
}

.jumbotron{
	padding: 2rem;
}

#search-header{
	margin-bottom: 2rem;
}

.fancy {
  box-shadow: inset -5px -5px 8px palegreen;
}

.map-box{
	height: 400px;
	background-color: black;
	padding: 0;
	box-shadow: 0 0 2px grey;
}

.word-box{
	height: 300px;
	background-image: linear-gradient( 35deg, #ABDCFF 0%, #0396FF 100%);
}

.myTagCloud span {
  text-decoration: underline;
}